#user-text{
    display:block;
    height:15vh;
    width:50%;
    margin:1rem;
    padding:1rem;
   
}
#btn-translate{
    margin:1rem;
    padding:1rem 2rem;
    font-size: 14px;
}
#banana-text{
    border: solid 1px black;
    display:block;
    width:50%;
    height:10vh;
    margin:1rem;
    padding:1rem;
}
#translation-head{
    margin:1rem;
}
